global
        maxconn 2048
defaults
        mode http
        option forwardfor
        timeout connect    5000ms
        timeout client    30000ms
        timeout server   120000ms
frontend http-in
        bind *:8080
        http-response add-header X-Upstream %si
        default_backend kappa
backend kappa
        balance roundrobin{{range service "kappa"}}
        server {{.Node}}.{{.Port}} {{.Address}}:{{.Port}}{{end}}
